.product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    
    &__item {
        width: 25%;
        margin-right: 20px;
        border: 3px solid #ddd;
        border-radius: 10px;
        margin-bottom: 30px;
        height: 400px;
    }

    &__image {
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font: 700;
        font-size: 20px;
        margin-bottom: 5px;
        height: 40px;
    }

    &__price {
        font-size: 18px;
        font-weight: 700;
        color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;

        button {
            width: 170px;
            height: 40px;
            &:hover {
                background-color: orange;
                border: 0;
                font-weight: 700;
            }
        }

    }

}